@font-face {
  font-family: "Chela-one";
  src: url("/ChelaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fjalla-One";
  src: url("/FjallaOne-Regular.ttf") format("truetype");
}

:root {
  --primary-color: #086788;
  --secondary-color: #06aed5;
  --accent-color: #f0c808;
  --base-color: #eefcff;
}
html { overflow-y: auto !important }

body {
  background-color: var(--base-color);
}

.title {
  font-family: "Chela-one", Arial, sans-serif;
  font-size: 3.5rem;
  color: var(--accent-color);
}

.mobile-title {
  font-size: 2rem;
}

.subtitle {
  font-family: "Chela-one", Arial, sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
}

.text {
  font-family: "Fjalla-One", Arial, sans-serif;
  font-size: 1rem;
}
.mobile-text {
  font-size: 1rem;
}

.info {
  letter-spacing: 1px;
  color: var(--accent-color);
}

.primary-text {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 700;

  span::first-letter {
    text-transform: uppercase;
  }
}

.info-text {
  color: #5a5757;
}
